.main{
    padding: 50px;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
}
.items{
    border: solid;
    border-color: #40367C;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 380px;
    width: 200px;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
}
.product-img {
    width:120px;
}
.total{
    width: 194px;
    border: outset;
    background-color: white;
    color: #2A2F57;
}
.button-delete1 {
    background: #2A2F57;
    color: white;
    font-size: unset;
    font-weight: 700;
    padding: 6px;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    border: outset;
}
.button-delete1:hover{
    background: white;  
    color: #40367C;
}