.search {
    /* background-color: #BDC4FF; */
    padding: 7px;
    margin-right: auto;
}
.search1{
    text-align-last: left;
}
.search-input{
    font-size: unset;
    color: #40367C;
    padding: 5px;
    font-size: .99em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    font-weight: bolder;
    margin-left: 9px;
}
.content{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content:space-evenly ;
    background-color: #DEE2FF
   
    ;
}
.item{
    border: solid;
    border-color: #40367C;
    margin-top: 10px;
    margin-bottom: 20px;
    background: white;
   
}
.product-img{
    width: -webkit-fill-available;
}
.product-img:hover{
    transform: scale(2);
}
h2{
    background-color: #40367C;
    color: white;
    padding: 3px;
}
h3{
    background-color: #BDC4FF;
    color: #2A2F57;
    padding: 5px;

}
.price-desc{
    height: 20%;
    color: #40367C;
    font-size: 1em;
    font-weight: bolder;
    padding: 2px;
    border-top: double;
    border-color: #40367C;
}
.count{
    font-size: unset;
    color: #40367C;
    padding: 7px;
    font-size: .99em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    font-weight: bolder;
    width: 40px;
}
.button-cart {
    background: #2A2F57;
    color: white;
    font-size: unset;
    font-weight: 700;
    padding: 8px;
    border: outset;
    margin: 5px;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
}
.button-cart:hover{
    background: white;  
    color: #40367C;
}
.to_cart{

}

.next-back{
    display: flex;
    justify-content: center;
    background-color: #DEE2FF;
}
.back{
    margin:5px;
    background-color: #2A2F57;
    color: white;
    margin: 5px;
    text-decoration: wavy;
    border: outset;
    padding: 7px;
}
.back:hover{
    background: white;  
    color: #40367C;
}
