.nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: #40367C;
    /* border-radius: 6.4px; */
    padding: 5px;
    padding-left: 15px;
}
.bar-link {
    color: white;
    margin: 5px;
    text-decoration: wavy;
    border: outset;
    padding: 7px;
}
.bar-link:hover{
    background: white;  
    color: #40367C;
}
.nav-items{
    align-self: center;
}
.img-header{
    margin-right: auto;
}
.cart2{
    color: white;
    margin: 5px;
    border: outset;
    padding: 5px;
}
