*{
  height: auto;
}
.App {
  text-align: center;
  text-align: -webkit-center;
 font-size: .85em;
font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
/* background-image: url(https://www.freepnglogos.com/uploads/smartphone-png/smartphone-icon-png-mobile-photo-phone-image-mobile-frame-27.png); */
}
